
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');

/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

/* *{ margin: 0; padding: 0; box-sizing: border-box;} */
.body{
  font-family: 'Sansita Swashed', cursive;

}
button{
  padding: 12px 20px;
  background: limegreen;
  color: black;
  border: none;
  outline: none;
  border-radius: 0px;
  cursor: pointer;
  margin: 10px;
  font-size: large;
}

button:hover{
  box-shadow: 2px 2px 5px 3px grey;
  font-size: larger;
  font-weight: 100;
  background-color: lime;
}

input{
  width:50% ;
  padding: 10px;
  border: none;
  border-bottom: 2px solid purple;
  font-size: 20px;
  outline: none;
  text-align: center;
  background: white;
  color: black;
  font-family: 'Sansita Swashed', cursive;

}
div.main_div{
  height: 100vh;
  display: flex;
  background: rgb(226, 226, 81);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Sansita Swashed', cursive;

}
div.center_div{
  background: white;
  box-shadow: 2px 2px 5px 2px grey;
  font-family: sans-serif;
  align-items: center;
  font-family: 'Sansita Swashed', cursive;

}
h1{
  text-align: center;
  
  font-family: 'Sansita Swashed', cursive;

}

div.todo{
  display: flex;
  flex-direction: row;
  
}

.todo .fa{
  height: 20px;
  width: 20px;
  margin: 0 10px 0 10px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: aliceblue;
  border-radius: 50%;
}
.fa-trash-o{
  color: white;
  cursor: pointer;
}